<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nethergrim.combogymdiary"
    android:installLocation="auto"
    android:versionCode="119"
    android:versionName="1.4.38" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Material_blue" >

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIV4H7afwcMJOgR3ZuDw1eUCyyNdtzLv5evDXyQQ" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.StartActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.AddingProgramActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.HistoryDetailedActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.CatalogDetailedActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.AddingMeasurementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.MeasurementsDetailedActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.EditingProgramAtTrainingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <service
            android:name=".service.TrainingService"
            android:process=":myservice" >
        </service>

        <meta-data
            android:name="metrica:api:key"
            android:value="20452" />

        <service
            android:name="com.yandex.metrica.MetricaService"
            android:process=":Metrica"
            tools:ignore="ExportedService">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.yandex.metrica.IMetricaService" />

                <data android:scheme="metrica" />
            </intent-filter>

            <meta-data
                android:name="metrica:api:level"
                android:value="4" />
        </service>

        <receiver
            android:name="com.yandex.metrica.MetricaEventHandler"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.yandex.metrica.intent.action.SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.yandex.metrica.CampaignReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.MetricaContentProvider"
            android:authorities="com.nethergrim.combogymdiary.MetricaContentProvider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <activity
            android:name=".activities.BaseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activities.StatisticsActivity" >
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name=".googledrive.DriveBackupActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".googledrive.DriveRestoreActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>

        <receiver
            android:name=".WidgetStatistics"
            android:icon="@drawable/ic_launcher"
            android:label="Widget for Training Log" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity android:name="com.purplebrain.adbuddiz.sdk.AdBuddizActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".activities.CreatingTrainingDayActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>